@import '../Variables.scss';

.aboutContainer {
    grid-area: container;
    padding: 2vh;
    height: 100%;
    .aboutBack {
        background: $secondary-color-1;
        display:flex;
        border-radius: 30px;
        box-shadow: $shadow-L;
        height: 100%;
        overflow-y: scroll;

        .aboutHome {
            position: absolute;
            color: lighten($secondary-color-5, 10%);
            text-decoration: none;
            top: 8vmin;
            left: 8vmin;
            @include for-size(desktop-up){
                left: 5vmin;
                top: 5vmin;
                font-size: 1.5em;
            }
            :hover {
                cursor: pointer;
                color: darken($secondary-color-5, 20%);
            }
        }
        .aboutContent {
        border-radius: 30px;
        // clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
        display: flex;
        padding: 3em 0 3em 0;
        background:no-repeat center, linear-gradient(45deg, #1a2d2700, #008c77);
        // background: linear-gradient(45deg, #1a2d2700, #008c77) ;
        // background-image: url('../Assets/bgabout.jpg');
        background-size: 75%;
        background-clip: content-box;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 100%;
        @include for-size(desktop-up){
            padding: 5em 0 5em 0;
            background: url('../Assets/bgabout.jpg') no-repeat center, linear-gradient(45deg, #1a2d2700, #008c77);
            background-position: right;
            background-size: 75%;
            background-clip: content-box;
            height: auto;
            
        }
            .aboutHeader {
                padding: 1em 0 0 2em;
                @include for-size(desktop-up){
                    padding: 0 0 0 2em;
                }
                h1 {
                    font-variant: petite-caps;
                    letter-spacing: 0.2em;
                    padding: 0 0 0.5em 0;
                    font-weight: 600;;
                    color: darken($secondary-color-5, 10%);
                    @include for-size(desktop-up){
                        font-size: 5vmin;
                        // padding: 2em 0 1em 0;
                    }
                }
               
            }
            .aboutBody {
                padding: 0 0 1em 2em;
                @include for-size(desktop-up){
                    padding: 0 0 0 2em;
                }
                p {
                    font-variant: petite-caps;
                    width: 70%;
                    line-height: 2.5vh;
                    font-size: 3vmin;
                    color: $secondary-color-5;
                    font-weight: 300;
                    background: #00000080;
                    border-radius: 5px;
                    padding: 1vh 2vh;
                    @include for-size(desktop-up){
                    font-size: 2vmin;
                    width: 60%;
                    line-height: 3vh;
                    }
                }

            }
        }
    }
}