@import '../Variables.scss';

.cardsListContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    height: 100%;
    .cardsList {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em 0 2em 0;
    border-radius: 4px;
        .card {
            // perspective: 1000px;
            // -webkit-perspective: 1000px;
            display: block;
            background-color: transparent;
            height: 20vmax;
            width: 37.5vmax;
           @include for-size(desktop-up){
               width: 35vmax;
           }
            
            
            .cardInner {
                position: relative;
                width: 100%;
                height: 100%;
                -webkit-transition: transform 0.8s;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                -webkit-transform-style: preserve-3d;
                .cardFront {
                    // background-color: transparent;
                    color: black;

                    .hexagonIcon {
                    font-size: 1.5vmax;
                    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                    background: black;
                    position: absolute;
                    color: white;
                    -webkit-background-clip: padding-box;
                    background-clip: padding-box;
                    border-radius: 35%;
                    border-bottom: solid transparent;
                    border-top: solid transparent;
                    top: 0;
                    left: 0;
                    right:0;
                    bottom:0;
                    width: 10vmax;
                    height: 10vmax;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2em;
                    // -webkit-transition: all 0.2s;
                    // transition: all 0.2s;
                    // transform-style: preserve-3d;
                    // -webkit-transform-style: preserve-3d;
                    
                    @include for-size(desktop-up){
                        font-size: 1.3vmax;
                        
                        }            
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px; 
                        border: inset transparent;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                }
                .cardBack {
                    background-color: white;
                    color: black;
                    will-change: transform;
                    -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    padding: 1em;
                    flex-direction: column;
                    font-size: 2vmax;
                    // .github {
                    //     position: absolute;
                    //     top: 0;
                    //     right: 0;
                    //     // transform: rotate(45deg);
                    //     top: 2vh;
                    //     right: -5vh;
                    //     // display:block;
                    //     width: 10em;
                    //     height: fit-content;
                    //     font-size: 0.7em;
                    //     background: black;
                    //     @include for-size(desktop-up){

                    //     }
                    // }
                    .github {
                        position: fixed;
                        bottom: 1vh;
                        a {
                        text-decoration: none;
                            i{
                            color: black;
                            }
                        }
                    }
                }
                .cardFront, .cardBack {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    box-shadow: $shadow-M;
                    -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
            }
            }    
        }
        .card:hover {   
            .cardInner {
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
        }
    }

}

// hr {
//     margin: 0.5em 0;
//     border: 0;
//     height: 1px;
//     background-image: linear-gradient(
//       to right,
//       rgba(0, 0, 0, 0),
//       #97a7b9,
//       rgba(0, 0, 0, 0)
//     );
//     padding: 0;
//   }

//   .cardsList {
//     // border: 0.1px solid black;
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     box-shadow: $shadow-S;
//     margin:1em 0 1em 0;
//     border-radius: 4px;
//     transition: transform 0.2s;
  
//     .cardsImages {
       
//         h3 {
//             padding: 0.2em 0;
//             color: darken($secondary-color-5, 30%);
//             letter-spacing: 0.1em;
//             font-weight: 300;
//         }
//     }
//     .cardsInfo {
//         padding: 0.5em 1em;
//         .description {
//             p {
//                 color: darken($secondary-color-5, 30%);
//                 line-height: 1.2em;
//             }
//         }
//     }
//     .projectsLinks {
//         display:flex;
//         justify-content: center;
//         padding:  0 0 0.5em 0;
//             .linkContainer {
//                 width: 50%;
                
                
//                 :hover {
//                     cursor: pointer;              
//                     background: $secondary-color-5;
//                     transition: all 0.3s;
//                     border-radius: 50px;   
//                     color: white;
//                 }
//                 a {
//                     display: flex;       
//                     justify-content: center;
//                     text-decoration: none;
//                     font-weight: 800;
//                     color: darken($secondary-color-5, 30%);
//                     :hover {
//                         color: lighten($secondary-color-5,5%);
//                     }
//                     p {
//                         font-weight: 800;
//                     }
//                 }

//                 i {
//                     margin: auto 0 auto 1em;
//                     font-weight: 300;
//                 }
//             }
//     }
   
// }

// hr {
//     margin: 0.5em 0;
//     border: 0;
//     height: 1px;
//     background-image: linear-gradient(
//       to right,
//       rgba(0, 0, 0, 0),
//       #97a7b9,
//       rgba(0, 0, 0, 0)
//     );
//     padding: 0;
//   }

