@import '../Variables.scss';


.contactContainer {
    grid-area: container;
    padding: 2vh;
    height: 100%;
    
    .contactBack {
        display: flex;
        border-radius: 30px;
        box-shadow: $shadow-L;
        height: 100%;
  
        .contactHome {
            position: absolute;
            color: darken($secondary-color-5,10%);
            text-decoration: none;
            top: 5%;
            left: 8%;
            @include for-size(desktop-up){
                
                left:3%;
                font-size: 1.5em;
            }
            :hover {
                cursor: pointer;
                color: darken($secondary-color-5, 20%);
            }
        }
    .contactForm {
        // clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
        background: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: solid white 1px;
        width: 100%;
        border-radius: 30px;
        .contactHeader {
            display:flex;
            justify-content: center;
            padding: 1em 0;
            img {
                border-radius:50%;
                height: 20vh;
                @include for-size(desktop-up){
                    height: 30vh;
                }
                }
        }
        .contactBody {
            display: flex;
            justify-content: center;
            width: 100%;
           
            form {
                
                display: flex;
                flex-direction: column;
                
                padding: 0.5em 0;
                align-items: center;
                @include for-size(desktop-up){
                    width: 60%;
                    justify-content: center;
                }
                    .nameForm,
                    .emailSubjectForm {
                        width: 80%;
                        display: flex;
                        padding: 0;
                        justify-content: space-between;
                        align-items: center;
                        @include for-size(desktop-up){
                            width: 100%;
                        }
                        div {
                            width: 45%;
                            margin: 0.5em 0;
                            input {
                            padding: 0.1em;
                            width: 100%;
                            border-top: 0;
                            border-right: 0;
                            border-bottom: 1px solid #eee;
                            border-left: 0;
                            font-variant: petite-caps;
                            @include for-size(desktop-up){
                                font-size: 1.2em;
                            }
                            &:focus {

                                outline: 0;
                                border-bottom: 1px solid $secondary-color-4;
                              }
                            }
                        }
                    }
                    textarea {
                        padding: 0.1em;
                        width: 80%;
                        margin: 0.5em 0;
                        border-top: 0;
                        border-right: 0;
                        border-bottom: 1px solid #eee;
                        border-left: 0;
                        resize: vertical;
                        font-variant: petite-caps;
                        @include for-size(desktop-up){
                            font-size: 1.2em;
                            width: 100%;
                        }
                        &:focus {
                        outline: 0;
                        border-bottom: 1px solid $secondary-color-4;
                        }
                    }
                    .btn-submit {
                        color: #167269;
                        padding: 8px 16px;
                        font-size: 4vw;
                        background-color: #d4e5e7;
                        border: none;
                        box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
                        transition: background-color .4s ease-in, box-shadow .4s ease-in;
                        text-align:center;
                        margin: 1em 0 0 0;
                        border-radius: 30px;
                        width: 80%;
                        font-variant: petite-caps;
                        @include for-size(desktop-up){
                            font-size: 3.5vmin;
                            width: 25vw;
                            transition: all 0.5s;
                        }
                        &:focus,
                        &:hover {
                          transition: all 0.5s;
                          width: 80%;
                          box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
                          cursor: pointer;
                          background: aliceblue;
                        }
                      }
                }
            }
        }
    }
}