@import '../Variables.scss';

.container {
    grid-area: container;
    height: 90vh;
    // width: 100vw;
    @include for-size(desktop-up){
       height: 100%;
    }
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
.transitionGroup {

    position: relative;
        
                .routeSection {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                }
            
        }   
    }