@import '../Variables.scss';

.content {
    grid-area: container;
    // background-image: $content-bg;
    padding: 1em;
    
    @include for-size(desktop-up){
    padding: 4em 6em;
    }
    .aboutContent {

        .profile {
            margin: 0 auto;
            text-align: center;
            @include for-size(desktop-up){
                // margin: 2em auto;
            }
        .profileContent {
            @include for-size(desktop-up){
                text-align: left;
                   
            }
        }
            img {
                width: 50%;
                border-radius: 50%;
                box-shadow: $shadow-L;
                margin: 1em 0 0 0;
                @include for-size(desktop-up){
                    width: 30%;
                    float: right;
                    margin: 0;
                }
            }
            h1 {
                font-size: 2em;
                font-weight: 300;
                color: $secondary-color-4;
                margin: 0.5em auto;
                @include for-size(desktop-up){
                    font-size: 3em;
                    // width: 70%;
                    margin: 0;
                }
            }
            p {
                font-weight: 300;
                line-height: 2em;
                color: darken($secondary-color-4, 10%);
                font-size: 1em; 
                opacity: 0.5;
                margin: 0.5em 0;
                @include for-size(desktop-up){
                    font-size: 1.3em;
                    width: 60%;
                    line-height: 2.5em;
                    margin: 0;
                    padding: 0.5em 0;
                }       
            }
            
                .action-btn {
                    display: inline-block;
                    text-decoration: none;
                    color: lighten($secondary-color-5, 10%);
                    // font-weight: 700;
                    -webkit-animation: AnimationName 1s infinite alternate;
                    -moz-animation: AnimationName 1s infinite alternate;
                    animation: AnimationName 3s infinite alternate;

                    background-size: 200%;
                    // background-position: left;
                    background-image: $background-actionbtn;
                    @-webkit-keyframes AnimationName {
                        0%{background-position: left}
                       
                        100%{background-position:right}
                    }
                    @-moz-keyframes AnimationName {
                        0%{background-position: left}
                       
                        100%{background-position:right}
                    }
                    @keyframes AnimationName { 
                        0%{background-position: left}
                       
                        100%{background-position:right}
                    }

                    padding: 0.5em 2em;
                    border-radius: 40px;
                    margin: 0.5em 0;
                    font-size: 1.2em;
                    -webkit-transition: all 0.3s;
                    @include for-size(desktop-up){
                        font-size: 1.25em;
                        
                    }
        
                }
              
                .action-btn:hover {
                    // transform: scale(1.05);
                    box-shadow: $shadow-L;
                    color: white;
                    cursor: pointer;
                }    
        }
    }

}