@import '../Variables.scss';

.sidebar {
    grid-area: sidebar;
    background: $secondary-color-1;
    padding: 0.5em;
    @include for-size(desktop-up){
        padding: 2em 0 0 0;
        background: $secondary-color-3;
    }
      .navigation {
        display: flex;
        justify-content: center;
        @include for-size(desktop-up){
            height: 50vh;
        }

        .linkContainer {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            flex-direction: column;
            
            .active {
                color: lighten($secondary-color-5, 10%);
            }
            a {
                color: $secondary-color-5;
                font-weight: 700;
                opacity: 0.7;
                text-decoration: none;
                transition: 0.3s;     
                padding: 0.1em 0;
                font-size: 0.8em;
                letter-spacing: 0.2em;
                transition: transform 0.2s;
                
                @include for-size(desktop-up){
                    font-size: 1.3em;
                    
                }
            }

            a:hover {
                opacity: 1;
                transform: scale(1.10);
                cursor: pointer;
            }  
        }
    }
}


