@import '../Variables.scss';

.sidebar {
    grid-area: sidebar;
    background: $background-color;
    box-shadow: 0 10px 35px rgba(50, 50, 93, 0.3),
    0 2px 15px rgba(0, 0, 0, 0.3);
    padding: 1vh 0;

    @include for-size(desktop-up){

        background: $background-color;
    }
      .navigation {
        display: flex;
        justify-content: center;
        @include for-size(desktop-up){
            height: 50vh;
        }

        .linkContainer {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            flex-direction: column;
            
            .active {
                color: lighten($secondary-color-5, 10%);
                @include for-size(desktop-up){
                    
                    opacity: 1;
                }
            }
            a {
                color: $secondary-color-5;
                font-weight: 700;
                opacity: 0.7;
                text-decoration: none;    
                padding: 0.1em 0;
                font-size: 0.8em;
                letter-spacing: 0.2em;
                transition: all 0.2s;
                font-variant: petite-caps;
                
                @include for-size(desktop-up){
                    font-size: 1.65vmax;
                    
                }
            }

            a:hover {
                opacity: 1;
                transform: scale3d(1.1, 1.1, 1);
                cursor: pointer;
                // text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
            }
            a:active {
                opacity: 1;
                transform: scale3d(1.1, 1.1, 1);
            } 
        }
    }
}


