@import './Variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: $font-stack-1;
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
}

body {
    background-color: rgba(255, 255, 255, 0.623);
    // position: relative;
    display: block;

}
// body::after {
//     // position: absolute;
//     // content: "";
//     // background: $content-bg;
//     // background-repeat: no-repeat;
//     // background-position: center;
//     // background-size: cover;
//     // opacity: 0.3;
//     // top: 0;
//     // bottom: 0;
//     // left: 0;
//     // right: 0;
//     // z-index: -1;
// }

.mainContainer {
    font-size: 1.2em;
    width: auto;
    // height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar"
        "container"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 90vh auto;
    @include for-size(desktop-up) {
            height: 100vh;
            grid-template-areas:
                "sidebar container"
                "sidebar footer";
            grid-template-columns: 2fr 10fr;
            grid-template-rows: 11fr 1fr;
        
    }
}

